dist:
  name: otelcol-dev
  description: Basic OTel Collector distribution for Developers
  output_path: ./otelcol-dev
  version: 0.0.1
  cgo_enabled: true

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.139.0

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.139.0
  - gomod: github.com/honeycombio/opentelemetry-collector-symbolicator/sourcemapprocessor v0.0.0
    name: sourcemapprocessor
    path: ./sourcemapprocessor
  - gomod: github.com/honeycombio/opentelemetry-collector-symbolicator/dsymprocessor v0.0.0
    name: dsymprocessor
    path: ./dsymprocessor
  - gomod: github.com/honeycombio/opentelemetry-collector-symbolicator/proguardprocessor v0.0.0
    name: proguardprocessor
    path: ./proguardprocessor

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.139.0

providers:
  - gomod: go.opentelemetry.io/collector/confmap/provider/envprovider v1.45.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/fileprovider v1.45.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/yamlprovider v1.45.0

extensions:
